

img {
    /* Efecto midudev*/
    filter: drop-shadow(
        0 0 10px rgba(0, 0, 0, .8)
    )
}

.btn {
    position: absolute;
    bottom: 6rem; /* Ajusta la posición vertical del botón */
    right: 2rem;  /* Posiciona el botón a la derecha de la imagen */
    
  }

.ubicacion{
    position: absolute;
    bottom: 30rem; /* Ajusta la posición vertical del botón */
    right: 2rem;  /* Posiciona el botón a la derecha de la imagen */
    
}