

<p-card >
    <h3>Foto de perfil </h3>
    <p-image
        *ngIf="imagenPerfil"   
        [src]="imagenPerfil"
        alt="Image" 
        width="360" 
        [preview]="true"
    />
    <p-image
    
        *ngIf="!imagenPerfil"
        url='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwWl4ngiL0w69Hjqe9Pm5jYcmOCEBG0TQ9z__FTcE3ed3Cx1kWO32Ue-UExwj0BXYzn9Y&usqp=CAU'
        alt="Image" 
        width="360"
        />
        
    <h4 class="mt-5">Cambiar foto de perfil</h4>
    <div class="card flex justify-content">
        <p-toast/>
        <p-fileUpload
            class=""
            mode="basic" 
            chooseLabel="Seleccionar" 
            chooseIcon="pi pi-upload"
            name="demo[]" 
            url="https://www.primefaces.org/cdn/api/upload.php" 
            accept="image/*" 
            maxFileSize="1000000" 
            (onUpload)="onUpload($event)" />
    </div>
</p-card>

<p-card class="p-2">
    <h3>Galeria</h3>
    <app-vista-carousel></app-vista-carousel>

</p-card>