.config {
    background-color: rgb(221, 118, 139);
    position: center;
}


.ubicacion{
    position: absolute;
    top: 2rem; /* Ajusta la posición vertical del botón */
    right: 2rem;  /* Posiciona el botón a la derecha de la imagen */
    
}