
.flex-container {
    display: flex;
    align-items: center; 
    gap: 2rem; /* Espacio entre la imagen y la descripción */
    padding: 2rem;
  }
  
  .ubicacion-btn-color-picker{
    position: absolute;
    top: 2rem; 
    right: 2rem;  
    
}
