
  
  app-color-picker-card {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1; /* Asegúrate de que esté encima de otros elementos */
  }
  app-slider {
    position: absolute;
    top: 60px;
    right: 0px;
  }
  app-mover-img{
    position: absolute;
    top: 140px;
    right: 0px;
  }