.color-picker-card {
    border: 1px solid #050202;
    width: 20rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    width: 36rem;
    align-items: center;    
    justify-content: center;

    /* padding: 16px;
    background-color: #f9f9f9;
    position: absolute; */


  }

.picker{
  position: absolute; 
  top: 100%; 
  left: 0; 
  z-index: 10;
}


.botonera{
    display: flex;
    align-items: center;    
    justify-content: center;
}
  