<mat-card class="example-card" appearance="outlined"
         (mouseenter)="toggleHover(true)" 
          (mouseleave)="toggleHover(false)"
          (click)="onImageClick()"
          >
    <img mat-card-image [src]="titleData.src" alt="Photo of a Shiba Inu">
   

   <mat-card-content *ngIf="isHovered" class="hover-content">
      <p>
        {{ titleData.text }}
      </p>
    </mat-card-content>
    <mat-card-actions *ngIf="isHovered" >
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  