.container {
    position: relative;
    display: inline-block;  
}
  
  .container button {
    position: absolute;
    top: 10px; /* Adjust top position as needed */
    right: 10px; /* Adjust right position as needed */
  }
  .example-result-card {
    position: relative;
    top: 40%;
    right: 520%;
    z-index: 1; /* Ensure it's on top of other elements */
  }

.aceptar{
    z-index: 1;
    position: absolute;
    top: 100px; /* Adjust top position as needed */
    right: 1000px;
}
.cancelar{
    position: absolute;
    top: 100px; /* Adjust top position as needed */
    right: 40px;
}
  